CompileFlags:
  CompilationDatabase: ""
  Add: 
  # rewrite this config to setup dev env.
    - "-IC:/Users/ffttr/.gradle/caches/8.14/transforms/b50b93c6a3a231f4f1f1400f908e2a29/transformed/oboe-1.10.0/prefab/modules/oboe/include"
    - "-std=c++20"
    - "-target"
    - "aarch64-linux-android29"
    - "--sysroot=C:/Users/ffttr/AppData/Local/Android/Sdk/ndk/28.2.13676358/toolchains/llvm/prebuilt/windows-x86_64/sysroot"

